# IDEs
.vscode/
.idea/
.DS_Store

# Python / Backend
__pycache__/
*.pyc
backend/venv/
backend/.env
backend/arctic_db/
backend/arctic_data/

# Node / Frontend
node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.docker_data/
