services:
  backend:
    build: ./backend
    ports:
      - "8020:8000"
    volumes:
      - ./arctic_data:/app/arctic_db
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build: ./frontend
    ports:
      - "3020:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend
